# ==========================================
# Git
# ==========================================
.git
.gitignore
.gitattributes

# ==========================================
# IDEs
# ==========================================
.vs
.vscode
.idea

# ==========================================
# Build
# ==========================================
**/bin/
**/obj/

# ==========================================
# Testes
# ==========================================
tests/

# ==========================================
# Documentação
# ==========================================
docs/

# ==========================================
# Kubernetes
# ==========================================
k8s/

# ==========================================
# Docker Compose
# ==========================================
docker-compose*

# ==========================================
# Arquivos diversos
# ==========================================
README.md
LICENSE